.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio__item {
    position: relative;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    transform: scale(1.02);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h5 {
    margin-top: 1.2rem;
    color: var(--color-contrast);
}

.portfolio__item h3 {
    margin-bottom: 0.3rem;
    color: var(--color-primary);
}

.portfolio__item p {
    margin-bottom: 3rem;
    color: var(--color-light);
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.stack__container {
    display: flex;
    gap: 1.2rem;
    position: absolute;
    bottom: 1.2rem;
}

.stack__icon {
    color: var(--color-contrast);
}

/* MEDIA QUERY (Medium) */
@media screen and (max-width: 1024px) {

    .section {
        height: auto;
    }

    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

/* MEDIA QUERY (Small) */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}