.phone-slideshow {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.phone-slideshow-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.phone-slideshow-nav a {
    font-size: 40px;
}

.phone-slideshow-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.phone-slideshow-dots {
    justify-content: center;
}

.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-contrast);
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: var(--color-primary);
}

.phone-slideshow-button {
    display: flex;
    align-self: center;
}


/* MEDIA QUERY (Medium) */
@media screen and (max-width: 1024px) {}

/* MEDIA QUERY (Small) */
@media screen and (max-width: 600px) {}