footer {
    background: var(--color-bg-variant);
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    color: var(--color-contrast);
    font-size: 25px;
    padding: 0.8rem;
    display: flex;
}

.footer__socials a:hover {
    color: var(--color-primary);
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 1rem;
    color: var(--color-light);
}

/* MEDIA QUERY (Small) */
@media screen and (max-width: 600px) {

    .footer__copyright {
        margin-bottom: 4rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}